@import '../../mixins';
.user-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%; 
    max-width: 346px;
    background-color: #F4F4F4;
    border-radius: 50px;
    padding: 32px 21px;
    gap: 40px;
    transition: transform 3s ease;
    &__list-btn, &__menu-item button {
    @include btn-sidebar;
}
}

.user-card__title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

.user-card__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 30px;
}