.user-card__footer-menu{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.user-card__footer-item {
    margin-left: 16px;
}
.user-card__footer-btn {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 2px;
    border-radius: 8px;
    &:hover {
        background-color: #e5e5e5; 
    }
    img {
        margin-right: 18px;
    }
}