.upcoming {
    width: 100%;
}
.upcoming__title {
    font-size: 36px;
    margin-bottom: 36px;
}
.upcoming__tasks {
    display: grid;
    grid-column: 1 / 3;
    gap: 26px;
}
.upcoming__list {
    display: grid;
    padding: 14px 29px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    width: 100%;
    &:first-child {
        grid-column: 1 / 3;
        margin-bottom: 31px;
    }
}
